#bg {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    /* fullsite */
    filter: blur(8px);
      transition: opacity 0.6s ease-in-out;

}

.changeBgButton {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #677c92;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 10;
}

.changeBgButton:hover {
    background-color: #546a7f;
}



/* Reset */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #ffffff;
    padding: 25px 30px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-container {
    margin-top: 10px;
}

.sbutton {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sbutton:hover {
    background-color: #0056b3;
}

.password-container button {
    margin-top: 8px;
    background-color: #6c757d;
}

.password-container button:hover {
    background-color: #5a6268;
}

.custom-alert {
    position: fixed;
    bottom: 20px;
    left: 20px;

    background-color: #ff4d4f;
    color: white;
    padding: 15px 20px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    opacity: 0;
    pointer-events: none;
    transform: translate(-40px, 40px);
    transition: all 0.4s ease;
}

/* alert */
.custom-alert.show {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: auto;
}

.custom-alert.success {
    background-color: #28a745;
}

.custom-alert.warning {
    background-color: #ddab15;
}

.custom-alert.error {
    background-color: #dc3545;
}

/* Responsive */
@media (max-width: 400px) {
    form {
        width: 90%;
        padding: 20px;
    }
}